<div class="bgImg16" id="{{'careersId'}}">
  <div class="header1">
      <p class="font25 headerColor fontBold">Careers</p>
    <a class="textWhite" routerLink="/home">Home</a>
    <svg class="headerSVG" viewBox="0 -6 24 24">
      <path fill="white" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
  </svg>
    <a class="textWhite" routerLink="/services">Careers</a>
  </div>
</div>
<div class="bgImg17">
  <div class="row paddingTop60 paddingBottom60 rowSide0">
    <div class="col-7 paddingLeft102">
      <p class="sideheaderColor fontBold">careers Opportunities</p>
      <p class="font32 textBlack fontWeight300">Imagine, inspire, and forge a new tomorrow. Join our CREW now.</p>
      <p>Join a team where you can grow & expand your professional experience.
        Team up with the Silicon and build a future of limitless possibilities.
        With Silicon innovation and opportunities are not just mere words, they are our core qualities upon which we have built our system over the past 35 years.</p>
      <p>Digital Transformation through technology is shaping business models industries and outcomes rapidly with rife. Our culture of innovation, collaboration, and engagement leads to building key enablers that catalyses growth and brings about a substantial business impact.</p>   
        <p>Jumpstart your career or take it to the next level by joining our team and contribute to creating a future with limitless possibilities.</p>
    </div>
    <div class="col-5 rowSide0">
      <div class="row">
        <div class="col-6">
          <img src="../../assets/careers/Careers - image 1.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-6 careerImg2">
          <img src="../../assets/careers/Careers - image 2.png" alt="">
        </div>
        
      </div>
      
    </div>
  </div>
</div>
<!---->
<div>
  <p class="text-center paddingTop60 sideheaderColor fontBold">Open Positions</p>
  <div class="container">
    <p class="textBlack font32 text-center">Jumpstart your career or take it to the next level, search and apply for opportunities below:</p>
  </div>
  
<!---->
<div class="container">
  <div class="row">
    <div class="col-9 paddingBottom20 searchForJobs">
      <input type="text" class="form-control borderRadius8 careerSearchInput " placeholder="Search for jobs">
    </div>
    <div class="col-3 paddingBottom20">
      <input type="text" class="form-control borderRadius8" placeholder="Location">
    </div>
    <!--first job post-->
    <div class="col-12  ">
      <div  id="accordionFlushExample">
        <div class="borderRadius8">
          <h2 id="flush-headingOne">
            <button class="borderRadius12 careerAccordianButton"  
            type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" (click)="TrueorFalse()"
            aria-controls="flush-collapseOne">
              <i *ngIf="!openAndClose" class="fa fa-chevron-down floatRight font10"></i>
              <i *ngIf="openAndClose" class="fa fa-chevron-up floatRight font10"></i>
              <p class="sideheaderColor fontBold">UX DESIGNER</p>
              <p class="text999999">Job Type: <span class="textBlack">Full-time</span></p>
              <p class="text999999">Location: <span class="textBlack">California City, CA, USA</span></p>
              <p class="text999999">Salary: <span class="textBlack">As Per Company Policy</span></p>
              <p class="text999999">Experience: <span class="textBlack"> 8+ Years</span></p>
              <p class="text999999">Education: <span class="textBlack"> Any Graduate</span></p>
              <button *ngIf="!openAndClose" class="btn btn floatRight careerAccordianApply">Apply Now</button>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" 
              data-bs-parent="#accordionFlushExample">
                <div>
                  <p style="line-height: 1.8;">IvanteQ with remote or on-site jobs on a temporary, project or full-time basis. From roles in software and applications to IT infrastructure and operations, we provide you unparalleled access to exciting career opportunities.</p>
                  <ul class="font14 textBlack" style="line-height: 2;" >
                    <li><span>Software Product Development & Management Experience.</span> </li>
                    <li><span>Experience in preparing product documents including Market Requirement Documents and product use cases to drive product activity.</span></li>
                    <li><span>Excellent written and verbal communication skills.</span></li>
                    <li><span>Managing the product life cycle from strategic planning to tactical activities.</span></li>
                    <li><span>Plan product features and functionalities in coherence with business objectives.</span></li>
                    <li><span>Work with technical team to structuralize the development process and to ensure that product features are as planned.</span></li>
                  </ul>
                </div>
                <button *ngIf="openAndClose" class="btn btn floatRight careerAccordianApply"  style="background-color: #1C7D99; color: white;">Apply Now</button>
              </div>
            </button>
          </h2>
          
        </div>
      </div>
    </div>
    <!--second job post-->
   
  </div>
  
</div>

<!---->
</div>

<!--
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>
-->
<app-footer></app-footer>
