<div class="bgImg16" id="{{'careersId'}}">
  <div class="header1">
      <p class="font25 headerColor fontBold">Careers</p>
    <a class="textWhite" routerLink="/home">Home</a>
    <svg class="headerSVG" viewBox="0 -6 24 24">
      <path fill="white" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
  </svg>
    <a class="textWhite" routerLink="/services">Careers</a>
  </div>
</div>
<div class="bgImg17">
  <div class="row paddingTop60 paddingBottom60 rowSide0">
    <div class="col-7 paddingLeft102">
      <p class="sideheaderColor fontBold">careers Opportunities</p>
      <p class="font32 textBlack fontWeight300">We deal With The Aspects Of Professional IT Services</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
        commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>   
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-5 rowSide0">
      <div class="row">
        <div class="col-6">
          <img src="../../assets/careers/Careers - image 1.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-6 careerImg2">
          <img src="../../assets/careers/Careers - image 2.png" alt="">
        </div>
        
      </div>
      
    </div>
  </div>
</div>
<!---->
<div>
  <p class="text-center paddingTop60 sideheaderColor fontBold">Open Positions</p>
  <p class="textBlack font32 text-center">How Ghy Help of Your Business Grow And Successful</p>
<!---->
<div class="container">
  <div class="row">
    <div class="col-9 paddingBottom20">
      <input type="text" class="form-control borderRadius8 careerSearchInput" placeholder="Search for jobs">
    </div>
    <div class="col-3 paddingBottom20">
      <input type="text" class="form-control borderRadius8" placeholder="Location">
    </div>
    <div class="col-12  ">
      <div  id="accordionFlushExample">
        <div class="borderRadius8">
          <h2 id="flush-headingOne">
            <button class="borderRadius12 careerAccordianButton"  
            type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" 
            aria-controls="flush-collapseOne">
              <i class="fa fa-chevron-down floatRight font10"></i>
              <p class="sideheaderColor fontBold">UX DESIGNER</p>
              <p class="text999999">Job Type: <span class="textBlack">Full-time</span></p>
              <p class="text999999">Location: <span class="textBlack">California City, CA, USA</span></p>
              <p class="text999999">Salary: <span class="textBlack">As Per Company Policy</span></p>
              <p class="text999999">Experience: <span class="textBlack"> 8+ Years</span></p>
              <p class="text999999">Education: <span class="textBlack"> Any Graduate</span></p>
              <button class="btn btn floatRight careerAccordianApply">Apply Now</button>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div>Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
              </div>
            </button>
          </h2>
          
        </div>
      </div>
    </div>
  </div>
  
</div>

<!---->
</div>

<!--
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>
-->
<app-footer></app-footer>
