a:hover{
    color: #FFC66A;
}
.rowSide0{
    margin-left: 0; margin-right: 0; max-width: 100%;
}
.careerImg2{
    padding-left: 25%; margin-top: -30%;
}
.careerSearchInput{
    background-color: #00BBA5 ; color: white;
}
.careerAccordianButton{
    width: 100%; text-align: left; border-width: 0px; padding: 30px; background-color: #E7F2F5;
}
.careerAccordianApply{
    border-color: #1C7D99; background-color: transparent;
}
//
.bgImg16{
    background: url('./../../assets/careers/careers\ -\ cover\ image.png'); background-repeat: no-repeat; background-size: 100% 100%; 
}
.bgImg17{
    background: url('./../../assets/careers/Careers\ -\ Careers\ Opportunities\ BG.png'); background-repeat: no-repeat; background-size: 100% 100%;
}

li{
    color: #1C7D99;
    span{
        color: #333333;
    }
}
.searchForJobs{
    ::placeholder {
        color: white;
        opacity: 1; /* Firefox */
      }
}
