<div class="bgImg19" id="{{'contactusId'}}">
  <div class="header1">
      <p class="font25 headerColor fontBold">Contact us</p>
    <a class="textWhite" routerLink="/home">Home</a>
    <svg class="headerSVG" viewBox="0 -6 24 24">
      <path fill="white" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
  </svg>
    <a class="textWhite" routerLink="/services">Contact us</a>
  </div>
</div>
<!---->
<div class="container">
  <div class="row">
    <div class="col-6 paddingTop60 paddingBottom60">
      <p class="sideheaderColor fontBold">Contact Us</p>
      <p class="font32 textBlack fontWeight300">Get in touch with us !</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
        laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p><img src="../../assets/footer/phone.png" alt=""> +91 40 2475 5044</p>
      <p><img src="../../assets/footer/mail.png" alt=""> info@test.com</p>
      <p><img src="../../assets/footer/fax number.png" alt=""> +91 40 2475 1111</p>
      <p><img src="../../assets/footer/location.png" alt=""> Hyderabd</p>  
    </div>
    <div class="col-6 contactUsForm">
      <div class="card borderRadius12 contactUsFormCard">
        <form action="">
          <p class="font32 textWhite">contact us</p>
          <div class="row">
            <div class="col-6">
              <p class="textWhite marginBottom0">First Name</p>
              <input class="form-control" type="text"><br>
              <p class="textWhite marginBottom0">Last Name</p>
              <input class="form-control" type="text"><br>
            </div>
            <div class="col-6">
              <p class="textWhite marginBottom0">Email ID</p>
              <input class="form-control" type="text"><br>
              <p class="textWhite marginBottom0">Contact Number</p>
              <div class="row">
                <div class="col-4 paddingRight0">
                  <select class="form-control paddingLeft0" name="" id="">
                    <option value="">+91</option>
                  </select>
                </div>
                <div class="col-8">
                  <input class="form-control" type="text">
                </div>
              </div>
              <br>
            </div>
            <div class="col-12">
              <p class="textWhite marginBottom0">Message</p>
              <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
            </div>
            
          </div><br>
          <button class="btn btn-primary floatRight">Send</button>
          
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="map-responsive">
      <iframe
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France"
          width="100%" height="426" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
<app-footer></app-footer>