a:hover{
    color: #FFC66A;
}
.contactUsForm{
    margin-top: 60px; position: relative;
}
.contactUsFormCard{
    padding: 30px; background: linear-gradient(#1C7D99, #00BBA5);
}
//
.bgImg19{
    background: url('./../../assets/contactus/contact\ us\ -\ cover\ image.png'); background-repeat: no-repeat; background-size: 100% 100%;
}