<div class="bgImg8" id="{{'whoweareId'}}">
  <div class="header1">
      <p class="font25 headerColor fontBold">Who we are</p>
    <a class="textWhite" routerLink="/home">Home</a>
    <svg class="headerSVG" viewBox="0 -6 24 24">
      <path fill="white" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
  </svg>
    <a class="textWhite" routerLink="/services">Who we are</a>
  </div>
</div>
<!---->
<div class="container paddingTop60">
  <div class="row">
    <div class="col-5">
      <img src="../../assets/whoweare/who we are - section 1 image.png" alt="">
    </div>
    <div class="col-7 paddingLeft38">
      <p class="sideheaderColor fontBold">who we are</p>
      <p class="textDarkBlack font32 fontWeight300 width68">We deal With The Aspects Of Professional IT Services</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
        ex ea commodo consequat.</p>
      <p>It's difficult to find examples of lorem ipsum in use before Letraset made it popular as a dummy 
        text in the 1960s, although McClintock says he remembers coming across the lorem ipsum passage in a book of 
        old metal type samples. So far he hasn't relocated where he once saw the passage, but the popularity of Cicero 
        in the 15th century supports the theory that the filler text has been used for centuries. And anyways, as Cecil 
        Adams reasoned, “[Do you really] think graphic arts supply houses were hiring classics scholars in 
        the 1960s?” Perhaps. But it seems reasonable to imagine that there was a version in use far before
         the age of Letraset.</p>
    </div>
  </div>
<!----->  
  <div class="container paddingTop20 whoWeAreSec1">
    
      <div class="row">
        <div class="col-6">
          <div class="card borderRadius12 bgInnovationImg">
           <div class="padding20 borderRadius12 boxBgColorDeepWhite">
             <p class="sideheaderColor fontBold"><img src="../../assets/whoweare/Innovation - Yellow.png" alt="">
              <span class="paddingLeft10">innovation</span> </p>
             <p>it's difficult to find examples of lorem ipsum in use before Letraset made it popular as a dummy text in the 1960s, 
               although McClintock says he remembers coming across the lorem ipsum passage in a book of old metal type samples. 
               So far he hasn't relocated where he once saw the passage, but the popularity of Cicero in the 15th century supports the theory.</p>
           </div>
            
          </div>
        </div>
        <div class="col-6">
          <div class="card borderRadius12 bgServiceExcellenceImg ">
            <div class="padding20 borderRadius12 boxBgColorDeepWhite">
              <p class="sideheaderColor fontBold"><img src="../../assets/whoweare/Service Excellence - yellow.png" alt="">
                <span class="paddingLeft10"> Service Excellence</span></p>
                <p>It's difficult to find examples of lorem ipsum in use before Letraset made it popular as a dummy text in the 1960s, 
                  although McClintock says he remembers coming across the lorem ipsum passage in a book of old metal type samples. 
                  So far he hasn't relocated where he once saw the passage, but the popularity of Cicero in the 15th century supports the theory.</p>
            </div>
          </div>
        </div>
      </div>
    
   
  </div>
</div>
<!---->
<div class="bgImg9">
<div class="container">
  <div class="row paddingTop60 paddingBottom60">
    <div class="col-4 paddingTop60 paddingBottom60">
      <p class="headerColor">Core Values</p>
      <p class="textWhite font32">We Offer a Wide Variety of IT Services</p>
    </div>
    <div class="col-4">
     
        <div class="card borderRadius12 boxBgColorTransparent borderColorNone" >
          <div class="padding20">
            <p class="headerColor fontBold font25 text-center">
             <span >innovation</span> </p>
            <p class="textWhite">It's difficult to find examples of lorem ipsum in use before Letraset made it popular as a dummy text in the 1960s, 
              although McClintock says he remembers coming across the lorem ipsum passage in a book of old metal type samples. 
              So far he hasn't relocated where he once saw the passage, but the popularity of Cicero in the 15th century supports the theory.</p>
          </div>
           
         </div>
      
    </div>
    <div class="col-4">
      <div class="card borderRadius12 boxBgColorTransparent borderColorNone" >
        <div class="padding20">
          <p class="headerColor fontBold font25 text-center">
           <span >Service Excellence</span> </p>
          <p class="textWhite">It's difficult to find examples of lorem ipsum in use before Letraset made it popular as a dummy text in the 1960s, 
            although McClintock says he remembers coming across the lorem ipsum passage in a book of old metal type samples. 
            So far he hasn't relocated where he once saw the passage, but the popularity of Cicero in the 15th century supports the theory.</p>
        </div>
         
       </div>
    </div>
  </div>
</div>
</div>

<div class="bgImg10">
  <p class="text-center paddingTop60 sideheaderColor fontBold">Our Services</p>
  <p class="textBlack font32 text-center">How Ghy Help of Your Business Grow And Successful</p>
  <div class="container">
    <div class="row paddingBottom60">
      <div class="col-3 borderRadius12">
        <div class="borderRadius12 bgFounderImg">
          <p class="headerColor text-center paddingTop230 fontSize20">Mr. Vijay Wadhi</p>
          <p class="textWhite text-center">Founder & Mentor</p>
        </div>
        <div class="borderRadius12 bgDirectorImg">
          <p class="headerColor text-center paddingTop230 fontSize20">Mr. Shyam Gaidhane</p>
          <p class="textWhite text-center">Managing Director</p>
        </div>
      </div>
      <div class="col-9 paddingLeft30 paddingTop15">
        <div class="card padding30 borderRadius12 boxBgColorWhite">
          <p>Welcome to Silicon Business Solutions Pvt. Ltd., a future centric company that is in the business of providing IT success to your business.</p>
          <p>The journey of a thousand miles started with a single step 30 years ago by Mr. Vijay Wadhi, the founder and current mentor of Silicon.</p>
          <p>He envisioned the company morals where he based the success of the organization on providing overall IT science to improve any and all business functionality.</p>
          <p>Over this period of growth and development, our business has managed to build a strong services portfolio across our OEM offerings which include Deployments, Backups and Migrations, Managed services, AMCs, FM Engineers and many more.</p>
          <p>I understand the numerous challenges that your company would face to make a mark in the world.</p>
          <p>Rest assured, with strong core values in the form of Innovation and Service Excellence at our helm and a stronger team taking our mission forward; we ensure that we are at the top of the game to help you overcome most of those challenges by making certain that your business operates smoothly and productively.</p>
          <p>My team and I pride ourselves on being extensively experienced in the ever-evolving tech. industry and IT advancements; and it is this very edge that helps us provide your business with services and solutions that navigate it to new heights of success.</p>
          <p>Your success is our success.</p>
          <p>I thank you for visiting our site and hope that we can initiate a sustainable business relationship.</p>
        </div>
      </div>
    </div>
  </div>
  
</div>
<!---->
<div class="container">
  <div class="row">
    <div class="col-7 paddingBottom60 paddingTop60">
      <p class="sideheaderColor fontBold">Why Silicon</p>
      <p class="font32 fontWeight300">We Offer a Wide Variety of IT Services</p>
      <p>It's difficult to find examples of lorem ipsum in use before Letraset made it popular as a dummy text in the 1960s,
         although McClintock says he remembers coming across the lorem ipsum passage in a book of old metal type samples.
          So far he hasn't relocated where he once saw the passage, but the popularity of Cicero in the 15th century supports 
          the theory that the filler text has been used for centuries. And anyways, as Cecil Adams reasoned, “[Do you really] 
          think graphic arts supply houses were hiring classics scholars in the 1960s?” Perhaps. But it seems reasonable to 
          imagine that there was a version in use far before the age of Letraset.</p>
          <ul>
            <li class="sideheaderColor">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li class="sideheaderColor">Lorem ipsum is placeholder text commonly used in the graphic, print.</li>
            <li class="sideheaderColor">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          </ul>
    </div>
    <div class="col-5">
      <img src="../../assets/whoweare/why silicon image.png" alt="">
    </div>
  </div>
</div>
<!---->
<div class="bgImg11">
  <p class="text-center paddingTop60 headerColor fontBold">Awards & Recognition</p>
  <p class="textWhite font32 text-center">Service excellence is now more of a habit than a requirement</p>
  <div class="container">
    <div class="row paddingBottom60">
      <div class="col-3 padding5">
        <img class="borderRadius8" src="../../assets/whoweare/Award 4.png" alt="">
      </div>
      <div class="col-3 padding5">
        <img class="borderRadius8" src="../../assets/whoweare/Award 2.png" alt="">
      </div>
      <div class="col-3 padding5">
        <img class="borderRadius8" src="../../assets/whoweare/Award 3.png" alt="">
      </div>
      <div class="col-3 padding5">
        <img class="borderRadius8" src="../../assets/whoweare/Award 4.png" alt="">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
