a:hover{
    color: #FFC66A;
}
.paddingTop230{
    padding-top: 230px;
}
.paddingLeft30{
    padding-left: 30px;
}
.paddingTop15{
    padding-top: 15px;
}
.whoWeAreSec1{
    padding-left: 150px; padding-right: 150px; padding-bottom: 40px;
}
.width68{
    width: 68%;
}
//
.bgInnovationImg{
    background-image: url('../../assets/whoweare/who\ we\ are\ -\ Innovation.png'); border-color: white; 
}
.bgServiceExcellenceImg{
    background-image: url('../../assets/whoweare/who\ we\ are\ -\ Service\ Excellence.png'); border-color: white;
}
.bgFounderImg{
    background: url('../../assets/whoweare/Mr. Vijay Wadhi.png'); height: 305px;
}
.bgDirectorImg{
    background: url('../../assets/whoweare/Mr. Shyam Gaidhane.png'); height: 305px;
}
//
.bgImg8{
    background: url('./../../assets/whoweare/Who\ we\ are\ -\ cover\ image.png'); background-repeat: no-repeat; background-size: 100% 100%;
}
.bgImg9{
    background: url('./../../assets/whoweare/Who\ we\ are\ -\ Core\ Values\ BG.png'); background-repeat: no-repeat; background-size: 100% 100%;
}
.bgImg10{
    background: url('./../../assets/whoweare/who\ we\ are\ -\ Meet\ The\ Director\ BG.png'); background-repeat: no-repeat; background-size: 100% 100%;
}
.bgImg11{
    background: url('./../../assets/whoweare/Who\ we\ are\ -\ Awards\ &\ Recognition\ BG.png'); background-repeat: no-repeat; background-size: 100% 100%;
}