<div class="bgImg14" id="{{'servicesId'}}">
  <div class="header1">
      <p class="font25 headerColor fontBold">Services</p>
    <a class="textWhite" routerLink="/home">Home</a>
    <svg class="headerSVG" viewBox="0 -6 24 24">
      <path fill="white" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
  </svg>
    <a class="textWhite" routerLink="/services">Services</a>
  </div>
</div>
<div class="bgImg15">
  <p class="text-center paddingTop60 sideheaderColor fontBold">Our Services</p>
  <p class="textBlack font32 text-center">How Ghy Help of Your Business Grow And Successful</p>
  <!--1st row start-->
  <div class="row marginBottom20">
    <div class="col-md-3 col-sm-12 paddingBottom20 paddingLeft0">
      <div class="card borderTopRightRadius8 borderBottomRightRadius8 boxShadow">
        <img class="height240" src="./../../assets/services/services - Cloud Computing images.png" alt="">
      </div>
    </div>
    <div class="col-md-3 col-sm-12 paddingBottom20">
      <div class="card borderRadius8 padding20 height240 boxShadow boxBgColorBlack" >
        <p class="font25 headerColor fontWeight text-center  ">Cloud Computing</p>
        <p class="textWhite overflowHidden marginBottom0 text-center">Revolutionizing the way businesses use information technology.  Acquire control over cloud infrastructure by choosing the type ownership, size, and access. With a dynamic infrastructure that benefits its end-users by maximizing the performance and security.</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 paddingBottom20">
      <div class="card borderRadius8 boxShadow">
        <img class="height240" src="./../../assets/services/services - Networking images.png"   alt="">
      </div>
    </div>
    <div class="col-md-3 col-sm-12 paddingBottom20 paddingRight0">
      <div class="card borderTopLeftRadius8 borderBottomLeftRadius8 padding20 height240 boxShadow boxBgColorBlack">
        <p class="font25 headerColor fontWeight text-center  ">Networking</p>
        <p class="textWhite text-center marginBottom0 overflowHidden">Improve operational and cost efficiencies with comprehensive data  management solutions, backed by our team of experts. The aptitude at Silicon assists you with upgrading and develop framework security and execution effortlessly</p>
      </div>
    </div>
    
  </div>
  <!--1st row end-->
  <!--2st row start-->
  <div class="row marginBottom20">
    <div class="col-md-3 col-sm-12 paddingBottom20 paddingLeft0">
      <div class="card  borderTopRightRadius8 borderBottomRightRadius8 padding20 height240 boxShadow boxBgColorBlack">
        <p class="font25 headerColor fontWeight text-center  ">Virtualization</p>
        <p class="textWhite   overflowHidden">Virtualization solutions that make your business digital ready. Minimize costs, boost agility, and augment your business with server virtualization services. As a part of these services, we configure, maintain, and support virtual servers for all enterprises.</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 paddingBottom20">
      <div class="card borderRadius8 boxShadow">
        <img class="height240" src="./../../assets/services/services - Virtualization images.png"   alt="">
      </div>
      
    </div>
    <div class="col-md-3 col-sm-12 paddingBottom20">
      <div class="card borderRadius8  padding20 height240 boxShadow boxBgColorBlack" >
        <p class="font25 headerColor fontWeight text-center  ">High-Performance</p>
        <p class="textWhite text-center marginBottom0  overflowHidden">It is through data that groundbreaking scientific discoveries are made, game-changing innovations are fueled, and quality of life is improved for billions of people around the globe. HPC is the foundation for scientific, industrial, and societal advancements.</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 paddingBottom20 paddingRight0">
      <div class="card borderTopLeftRadius8 borderBottomLeftRadius8 boxShadow">
        <img class="height240" src="./../../assets/services/services - High-Performance images.png" alt="">
      </div>
      
    </div>
    
  </div>
  <!--2st row end-->
  <!--3st row start-->
  <div class="row marginBottom20">
    <div class="col-md-3 col-sm-12 paddingBottom20 paddingLeft0">
      <div class="card borderTopRightRadius8 borderBottomRightRadius8 boxShadow ">
        <img class="height240" src="./../../assets/services/services - Security Solutions images.png"   alt="">
      </div>
    </div>
    <div class="col-md-3 col-sm-12 paddingBottom20">
      <div class="card borderRadius8 padding20 height240 boxShadow boxBgColorBlack">
        <p class="font25 headerColor fontWeight text-center  ">Security Solutions</p>
        <p class="textWhite   overflowHidden text-center">Silicon unleashes the value of your security investments to achieve business objectives. Silicon services bolster detective and preventative capabilities while removing the burden of updating and managing network devices.</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 paddingBottom20">
      <div class="card borderRadius8 boxShadow">
        <img class="height240" src="./../../assets/services/services - Engineered Solutions MCW images.png"   alt="">
      </div>
    </div>
    <div class="col-md-3 col-sm-12 paddingBottom20 paddingLeft0">
      <div class="card borderTopLeftRadius8 borderBottomLeftRadius8  padding20 height240 boxShadow boxBgColorBlack">
        <p class=" headerColor fontWeight text-center  font22">Engineered Solutions MCW</p>
        <p class="textWhite text-center marginBottom0 overflowHidden">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of... type. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum Richard McClintock, a Latin scholar from Hampden-Sydney College, is credited with discovering the source behind the ubiquitous filler text.</p>
      </div>
    </div>
    
  </div>
  <!--3st row end-->
  <!--4st row start-->
  <div class="row marginBottom20">
    <div class="col-md-3 col-sm-12 paddingBottom20 paddingLeft0">
      <div class="card  borderTopRightRadius8 borderBottomRightRadius8 padding20 height240 boxShadow boxBgColorBlack">
        <p class="font25 headerColor fontWeight text-center  ">Backup Automation</p>
        <p class="textWhite text-center   overflowHidden marginBottom0">Regardless of how large or small your business may be, data is an essential aspect of running it. As you increase the amount of data that you store, you subsequently increase the possibility of you needing to recover the data eventually. Get Started with Automated Data Backup</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 paddingBottom20">
      <div class="card borderRadius8 boxShadow">
        <img class="height240" src="./../../assets/services/services - Backup Automation images.png"  alt="">
      </div>
      
    </div>
    <div class="col-md-3 col-sm-12 paddingBottom20">
      <div class="card borderRadius8  padding20 height240 boxShadow boxBgColorBlack">
        <p class="font25 headerColor fontWeight text-center  ">Storage</p>
        <p class="textWhite text-center marginBottom0   overflowHidden">Exploit the full potential of your data, 
          wherever it lives, with a seamless cloud experience for data and data infrastructure from edge to cloud. 
          Radically streamline data and infrastructure management to eliminate silos and complexity.</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 paddingBottom20 paddingRight0">
      <div class="card borderTopLeftRadius8 borderBottomLeftRadius8 boxShadow ">
        <img class="height240" src="./../../assets/services/services - Storage images.png"   alt="">
      </div>
     
    </div>
    
  </div>
  <!--4st row end-->
</div>

<app-footer></app-footer>
