<div class="bgImg12"  id="{{'industriesId'}}">
  <div class="header1">
      <p class="font25 headerColor fontBold">Industries</p>
    <a class="textWhite" routerLink="/home">Home</a>
    <svg class="headerSVG" viewBox="0 -6 24 24">
      <path fill="white" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
  </svg>
    <a class="textWhite" routerLink="/services">Industries</a>
  </div>
</div>

<div class="bgImg13">
  <p class="text-center paddingTop60 sideheaderColor fontBold">Our Industries</p>
  <p class="textBlack font32 text-center">How Ghy Help of Your Business Grow And Successful</p>

    <div class="container">
      <div class="row">
        <!--row1 col1 start-->
        <div class="col-md-4 col-sm-12">
          <div class="card scrolldownfunction" [ngClass]="isReadMore1 ? 'scrolldownfunction1' : 'scrolldownfunction2'">
            <img src="../../assets/industries/industries - Finance images.png" class="d-block w-100 business-img" alt="">
            <p class="fontBold font25 sideheaderColor text-center">Finance</p>
            <p [ngClass]="{'limitTextHeight': isReadMore1}">Extensive digital transformation experience in the global finance industry.
              digital solutions are aimed at making a shift from traditional banking to a digitalized model. This means a digital transformation in banking can make a big difference and is growing rapidly! Optimize and personalize the customer experience across channels. Financial software solutions & fintech software expertise. Glide ahead of the competition with new digital capabilities.</p>
              <button type="button" class="extendbutton zIndex9999" (click)="showText1()">
              <i [ngClass]="isReadMore1 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i></button>
          </div>
        </div>
        <!--row1 col1 end-->
        <!--row1 col2 start-->
        <div class="col-md-4 col-sm-12">
          <div class="card scrolldownfunction" [ngClass]="isReadMore2 ? 'scrolldownfunction1' : 'scrolldownfunction2'">
            <img src="../../assets/industries/industries - banking images.png" class="d-block w-100 business-img" alt="">
            <p class="fontBold font25 sideheaderColor text-center">Banking</p>
            <p [ngClass]="{'limitTextHeight': isReadMore2}">Enable the financial services world, to deliver the future of banking. Applications that power financial institutions, marketplaces that accelerate industry & an open innovation platform for banks, fintech’s & non-banks to connect and collaborate. As well as reducing complexity, cost and manual processes Silicon’s solutions provide a single platform to deliver efficiency and a clear return on investment.</p>
              <button type="button" class="extendbutton zIndex9999" (click)="showText2()">
              <i [ngClass]="isReadMore2 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i></button>
          </div>
        </div>
        <!--row1 col2 end-->
        <!--row1 col3 start-->
        <div class="col-md-4 col-sm-12">
          <div class="card scrolldownfunction" [ngClass]="isReadMore3 ? 'scrolldownfunction1' : 'scrolldownfunction2'">
            <img src="../../assets/industries/industries - retail images.png" class="d-block w-100 business-img" alt="">
            <p class="fontBold font25 sideheaderColor text-center">Retail</p>
            <p [ngClass]="{'limitTextHeight': isReadMore3}">Experiences and leveraging new technologies. Companies within the retail industry are continuously competing with one another to bring the most innovative and simple shopping experiences to their customers. Working collaboratively with our retail clients, we co-create powerful business and technology strategies. Silicon is uniquely positioned to meet the demands of the Retail Industry.</p>
              <button type="button" class="extendbutton zIndex9999" (click)="showText3()">
              <i [ngClass]="isReadMore3 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i></button>
          </div>
        </div>
        <!--row1 col3 end-->
        <!--row2 col1 start-->
        <div class="col-md-4 col-sm-12">
          <div class="card scrolldownfunction" [ngClass]="isReadMore4 ? 'scrolldownfunction1' : 'scrolldownfunction2'">
            <img src="../../assets/industries/industries - health care images.png" class="d-block w-100 business-img" alt="">
            <p class="fontBold font25 sideheaderColor text-center">Health Care</p>
            <p [ngClass]="{'limitTextHeight': isReadMore4}">Efficiencies and enrich the quality of care with Silicon’s solutions. Automating medical industry with comprehensive healthcare IT solutions. Leveraging innovation, industry insights, and deep domain experience, we have helped several clients reimagine their healthcare delivery and pave the way for smarter patient experiences.</p>
              <button type="button" class="extendbutton zIndex9999" (click)="showText4()">
              <i [ngClass]="isReadMore4 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i></button>
          </div>
        </div>
        <!--row2 col1 end-->
        <!--row2 col2 start-->
        <div class="col-md-4 col-sm-12">
          <div class="card scrolldownfunction" [ngClass]="isReadMore5 ? 'scrolldownfunction1' : 'scrolldownfunction2'">
            <img src="../../assets/industries/industries - telecommunitions.png" class="d-block w-100 business-img" alt="">
            <p class="fontBold font25 sideheaderColor text-center">Telecommunication</p>
            <p [ngClass]="{'limitTextHeight': isReadMore5}">Silicon provides a comprehensive range of solutions and dependable support for your telecommunication networks, whether you work in telecoms, utilities, or any other area. Our team is always available to give helpful, educated, and efficient service at every stage of your project. Silicon lets businesses leverage revenue generating opportunities, respond to the evolving needs of the customers, and capture new markets. Our telecom technology solutions provide the new and improved ways to achieve quantifiable business outcomes.</p>
              <button type="button" class="extendbutton zIndex9999" (click)="showText5()">
              <i [ngClass]="isReadMore5 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i></button>
          </div>
        </div>
        <!--row2 col2 end-->
        <!--row2 col3 start-->
        <div class="col-md-4 col-sm-12">
          <div class="card scrolldownfunction" [ngClass]="isReadMore6 ? 'scrolldownfunction1' : 'scrolldownfunction2'">
            <img src="../../assets/industries/industries - eduction.png" class="d-block w-100 business-img" alt="">
            <p class="fontBold font25 sideheaderColor text-center">Education</p>
            <p [ngClass]="{'limitTextHeight': isReadMore6}">Technology is offering educators and students better learning pathways than ever before. But while great for students and teachers, it presents real challenge for IT. As the technology at many schools continues to age, it becomes harder to accommodate the increasing demands of the connected classroom. Enabling classrooms to connect across miles, Silicon delivers customized solutions for the domain of education.</p>
              <button type="button" class="extendbutton zIndex9999" (click)="showText6()">
              <i [ngClass]="isReadMore6 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i></button>
          </div>
        </div>
        <!--row2 col3 end-->
        <!--row3 col1 start-->
        <div class="col-md-4 col-sm-12">
          <div class="card scrolldownfunction" [ngClass]="isReadMore7 ? 'scrolldownfunction1' : 'scrolldownfunction2'">
            <img src="../../assets/industries/industries - information technology images.png" class="d-block w-100 business-img" alt="">
            <p class="fontBold font25 sideheaderColor text-center">Information Technology</p>
            <p [ngClass]="{'limitTextHeight': isReadMore7}">We at Silicon are Unlocking the power of data for a more productive world. Most digital transformation initiatives result in disappointment due to a misalignment between technology solutions and business goals. The technology sector is continually evolving its products and services for their customers and end users. Silicon provides comprehensive technology assessments and evaluations in support of both Information Technology.</p>
              <button type="button" class="extendbutton zIndex9999" (click)="showText7()">
              <i [ngClass]="isReadMore7 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i></button>
          </div>
        </div>
        <!--row3 col1 end-->
        <!--row3 col2 start-->
        <div class="col-md-4 col-sm-12">
          <div class="card scrolldownfunction" [ngClass]="isReadMore8 ? 'scrolldownfunction1' : 'scrolldownfunction2'">
            <img src="../../assets/industries/industries - state & federal government images.png" class="d-block w-100 business-img" alt="">
            <p class="fontBold font25 sideheaderColor">State & Federal Government</p>
            <p class="overflowScroll" [ngClass]="{'limitTextHeight': isReadMore8}">Evolve the  government IT infrastructure and operations and meet expectations for modern services and capabilities with a Silicon’s solutions. By leveraging the power of a cloud-based technology platform, government agencies can improve collaboration, transparency, and sustainability by using more secure and compliant tools.</p>
              <button type="button" class="extendbutton zIndex9999" (click)="showText8()">
              <i [ngClass]="isReadMore8 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i></button>
          </div>
        </div>
        <!--row3 col2 end-->
        <!--row3 col3 start-->
        <div class="col-md-4 col-sm-12">
          <div class="card scrolldownfunction" [ngClass]="isReadMore9 ? 'scrolldownfunction1' : 'scrolldownfunction2'">
            <img src="../../assets/industries/mobile app development - image.png" class="d-block w-100 business-img" alt="">
            <p class="fontBold font25 sideheaderColor text-center">Network & Security</p>
            <p [ngClass]="{'limitTextHeight': isReadMore9}">Network security refers to the technologies, processes, and policies used to defend any network, network traffic, and network-accessible assets from cyberattacks, unauthorized access, and data loss. Every organization, from small businesses to the largest enterprises and service providers, in every industry requires network security to protect critical assets and infrastructure from a rapidly expanding attack surface. Silicon provides a solid partnership that makes compliance and security easier and more robust for the customer.</p>
              <button type="button" class="extendbutton zIndex9999" (click)="showText9()">
              <i [ngClass]="isReadMore9 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i></button>
          </div>
        </div>
        <!--row3 col3 end-->
      </div>
      
    </div>
</div>
<app-footer></app-footer>