<div class="bgImg12"  id="{{'industriesId'}}">
  <div class="header1">
      <p class="font25 headerColor fontBold">Industries</p>
    <a class="textWhite" routerLink="/home">Home</a>
    <svg class="headerSVG" viewBox="0 -6 24 24">
      <path fill="white" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
  </svg>
    <a class="textWhite" routerLink="/services">Industries</a>
  </div>
</div>

<div class="bgImg13">
  <p class="text-center paddingTop60 sideheaderColor fontBold">Our Industries</p>
  <p class="textBlack font32 text-center">How Ghy Help of Your Business Grow And Successful</p>

    <div class="container">
      <div class="row">
        <!--row1 col1 start-->
        <div class="col-md-4">
          <div class="card scrolldownfunction" [ngClass]="isReadMore1 ? 'scrolldownfunction1' : 'scrolldownfunction2'">
            <img src="../../assets/industries/industries - Finance images.png" class="d-block w-100 business-img" alt="">
            <p class="fontBold font25 sideheaderColor text-center">Finance</p>
            <p [ngClass]="{'limitTextHeight': isReadMore1}">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. 
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum Richard McClintock, a Latin scholar 
              from Hampden-Sydney College, is credited with discovering the source behind the ubiquitous filler text.</p>
              <button type="button" class="extendbutton zIndex9999" (click)="showText1()">
              <i [ngClass]="isReadMore1 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i></button>
          </div>
        </div>
        <!--row1 col1 end-->
        <!--row1 col2 start-->
        <div class="col-md-4">
          <div class="card scrolldownfunction" [ngClass]="isReadMore2 ? 'scrolldownfunction1' : 'scrolldownfunction2'">
            <img src="../../assets/industries/industries - banking images.png" class="d-block w-100 business-img" alt="">
            <p class="fontBold font25 sideheaderColor text-center">Banking</p>
            <p [ngClass]="{'limitTextHeight': isReadMore2}">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. 
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum Richard McClintock, a Latin scholar 
              from Hampden-Sydney College, is credited with discovering the source behind the ubiquitous filler text.</p>
              <button type="button" class="extendbutton zIndex9999" (click)="showText2()">
              <i [ngClass]="isReadMore2 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i></button>
          </div>
        </div>
        <!--row1 col2 end-->
        <!--row1 col3 start-->
        <div class="col-md-4">
          <div class="card scrolldownfunction" [ngClass]="isReadMore3 ? 'scrolldownfunction1' : 'scrolldownfunction2'">
            <img src="../../assets/industries/industries - retail images.png" class="d-block w-100 business-img" alt="">
            <p class="fontBold font25 sideheaderColor text-center">Retail</p>
            <p [ngClass]="{'limitTextHeight': isReadMore3}">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. 
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum Richard McClintock, a Latin scholar 
              from Hampden-Sydney College, is credited with discovering the source behind the ubiquitous filler text.</p>
              <button type="button" class="extendbutton zIndex9999" (click)="showText3()">
              <i [ngClass]="isReadMore3 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i></button>
          </div>
        </div>
        <!--row1 col3 end-->
        <!--row2 col1 start-->
        <div class="col-md-4">
          <div class="card scrolldownfunction" [ngClass]="isReadMore4 ? 'scrolldownfunction1' : 'scrolldownfunction2'">
            <img src="../../assets/industries/industries - health care images.png" class="d-block w-100 business-img" alt="">
            <p class="fontBold font25 sideheaderColor text-center">Health Care</p>
            <p [ngClass]="{'limitTextHeight': isReadMore4}">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. 
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum Richard McClintock, a Latin scholar 
              from Hampden-Sydney College, is credited with discovering the source behind the ubiquitous filler text.</p>
              <button type="button" class="extendbutton zIndex9999" (click)="showText4()">
              <i [ngClass]="isReadMore4 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i></button>
          </div>
        </div>
        <!--row2 col1 end-->
        <!--row2 col2 start-->
        <div class="col-md-4">
          <div class="card scrolldownfunction" [ngClass]="isReadMore5 ? 'scrolldownfunction1' : 'scrolldownfunction2'">
            <img src="../../assets/industries/industries - telecommunitions.png" class="d-block w-100 business-img" alt="">
            <p class="fontBold font25 sideheaderColor text-center">Telecommunication</p>
            <p [ngClass]="{'limitTextHeight': isReadMore5}">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. 
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum Richard McClintock, a Latin scholar 
              from Hampden-Sydney College, is credited with discovering the source behind the ubiquitous filler text.</p>
              <button type="button" class="extendbutton zIndex9999" (click)="showText5()">
              <i [ngClass]="isReadMore5 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i></button>
          </div>
        </div>
        <!--row2 col2 end-->
        <!--row2 col3 start-->
        <div class="col-md-4">
          <div class="card scrolldownfunction" [ngClass]="isReadMore6 ? 'scrolldownfunction1' : 'scrolldownfunction2'">
            <img src="../../assets/industries/industries - eduction.png" class="d-block w-100 business-img" alt="">
            <p class="fontBold font25 sideheaderColor text-center">Education</p>
            <p [ngClass]="{'limitTextHeight': isReadMore6}">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. 
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum Richard McClintock, a Latin scholar 
              from Hampden-Sydney College, is credited with discovering the source behind the ubiquitous filler text.</p>
              <button type="button" class="extendbutton zIndex9999" (click)="showText6()">
              <i [ngClass]="isReadMore6 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i></button>
          </div>
        </div>
        <!--row2 col3 end-->
        <!--row3 col1 start-->
        <div class="col-md-4">
          <div class="card scrolldownfunction" [ngClass]="isReadMore7 ? 'scrolldownfunction1' : 'scrolldownfunction2'">
            <img src="../../assets/industries/industries - information technology images.png" class="d-block w-100 business-img" alt="">
            <p class="fontBold font25 sideheaderColor text-center">Information Technology</p>
            <p [ngClass]="{'limitTextHeight': isReadMore7}">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. 
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum Richard McClintock, a Latin scholar 
              from Hampden-Sydney College, is credited with discovering the source behind the ubiquitous filler text.</p>
              <button type="button" class="extendbutton zIndex9999" (click)="showText7()">
              <i [ngClass]="isReadMore7 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i></button>
          </div>
        </div>
        <!--row3 col1 end-->
        <!--row3 col2 start-->
        <div class="col-md-4">
          <div class="card scrolldownfunction" [ngClass]="isReadMore8 ? 'scrolldownfunction1' : 'scrolldownfunction2'">
            <img src="../../assets/industries/industries - state & federal government images.png" class="d-block w-100 business-img" alt="">
            <p class="fontBold font25 sideheaderColor">State & Federal Government</p>
            <p class="overflowScroll" [ngClass]="{'limitTextHeight': isReadMore8}">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. 
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum Richard McClintock, a Latin scholar 
              from Hampden-Sydney College, is credited with discovering the source behind the ubiquitous filler text.</p>
              <button type="button" class="extendbutton zIndex9999" (click)="showText8()">
              <i [ngClass]="isReadMore8 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i></button>
          </div>
        </div>
        <!--row3 col2 end-->
        <!--row3 col3 start-->
        <div class="col-md-4">
          <div class="card scrolldownfunction" [ngClass]="isReadMore9 ? 'scrolldownfunction1' : 'scrolldownfunction2'">
            <img src="../../assets/industries/mobile app development - image.png" class="d-block w-100 business-img" alt="">
            <p class="fontBold font25 sideheaderColor text-center">Network & Security</p>
            <p [ngClass]="{'limitTextHeight': isReadMore9}">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. 
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum Richard McClintock, a Latin scholar 
              from Hampden-Sydney College, is credited with discovering the source behind the ubiquitous filler text.</p>
              <button type="button" class="extendbutton zIndex9999" (click)="showText9()">
              <i [ngClass]="isReadMore9 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i></button>
          </div>
        </div>
        <!--row3 col3 end-->
      </div>
      
    </div>
</div>
<app-footer></app-footer>