<!--<br><br><br>
<ul ngIf="blogList && blogList.length > 0"> 
  <a href="./blog/viewblog/{{blogList[0]._id}}" style="color: green;">{{blogList[0]._id}}</a>
  <li style="color: green;">{{blogList[0].title}}</li>
  <li style="color: green;">{{blogList[0].department}}</li>
  <li style="color: green;">{{blogList[0].message}}</li>
</ul>-->



<div class="bgImg18" id="{{'blogId'}}">
  <div class="header1">
      <p class="font25 headerColor fontBold">Blog</p>
    <a class="textWhite" href="/home" >Home</a>
    <svg class="headerSVG" viewBox="0 -6 24 24">
      <path fill="white" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
  </svg>
    <a class="textWhite" href="/blog" >Blog</a>
  </div>
</div>
<div>
  <p class="text-center paddingTop60 sideheaderColor fontBold">Our Services</p>
  <p class="textBlack font32 text-center">How Ghy Help of Your Business Grow And Successful</p>
  <div class="container">
    <div class="row" style="padding-bottom: 20px;">
      <div class="col-4" *ngIf="blogList && blogList.length > 0">
        <img src="../../assets/blog/Thumbnail image blog 1.png" alt="">
        <p>{{blogList[0].department}}</p>
        <p style="color: #1C7D99; font-size: 24px;">{{blogList[0].title}}</p>
        <p>{{blogList[0].message}}</p>
          <div class="row">
            <div class="col-6">
              <p>date</p>
            </div>
            <div class="col-6">
              <a href="./blog/viewblog/{{blogList[0]._id}}" class="floatRight">read more</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>