<nav class="navbar navbar-expand-lg navbar-light bg navigationMain">
    <a class="navbar-brand navbarBrand" href="#"><img src="../../assets/Silicon Logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbarOtherThanBrand" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active" aria-expanded="false" data-toggle="collapse"  data-target="#navbarNavDropdown">
          <a class="nav-link "  routerLink="home"
          [routerLinkActive]="['active']" >Home</a>
        </li>
        <li class="nav-item"  aria-expanded="false" data-toggle="collapse"  data-target="#navbarNavDropdown">
          <a class="nav-link"  routerLink="whoweare"
          [routerLinkActive]="['active']" >Who we are</a>
        </li>
        <li class="nav-item" aria-expanded="false" data-toggle="collapse"  data-target="#navbarNavDropdown">
          <a class="nav-link" routerLink="industries"
          [routerLinkActive]="['active']">Industries</a>
        </li>
        <li class="nav-item" aria-expanded="false" data-toggle="collapse"  data-target="#navbarNavDropdown">
          <a class="nav-link" routerLink="services"
          [routerLinkActive]="['active']">Services</a>
        </li>
        <li class="nav-item" aria-expanded="false" data-toggle="collapse"  data-target="#navbarNavDropdown">
          <a class="nav-link" routerLink="careers"
          [routerLinkActive]="['active']" >Careers</a>
        </li>
        <li class="nav-item" aria-expanded="false" data-toggle="collapse"  data-target="#navbarNavDropdown">
          <a class="nav-link" routerLink="blog"
          [routerLinkActive]="['active']">Blog</a>
        </li>
        <li class="nav-item" aria-expanded="false" data-toggle="collapse"  data-target="#navbarNavDropdown">
          <a class="nav-link" routerLink="contactus"
          [routerLinkActive]="['active']" >Contact us</a>
        </li>
      </ul>
    </div>
  </nav>